/* CSS files add styling rules to your content */
button{
  background-color: #71d6f5;
}
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold;
  color: #373fff;
}

h2 {
  margin-top: 2em;
}

.question {
  display: flex;
  margin-top: 2em;
}

.answer-choice img {
  height: 10em;
}
body {
  text-align: center;
  background-img: url("https://cdn.glitch.com/566cf384-0feb-4aff-b4cf-a1802db583b6%2Fmusic.PNG?v=1597344517991");
}
img {
  align: center;
}
button {
  align: center;
   border-radius: 28px;
}

button:hover {
  color: #71d6f5;
  border-color: currentColor;
  background-color: black;
}
